.mobile {
  height: 100%;
  width: 100vw;
}
.titimg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mtitle {
  height: 45px;
  font-weight: 500;
  font-size: 32px;
  line-height: 140.69%;
  color: #263238;
  text-align: center;
  margin-bottom: 3px;
}
.curve {
  width: 90px;
  height: 10px;
  margin: 0px auto;
}
.mcon {
  margin: 50px auto;
  max-width: 80%;
  display: flex;
  justify-content: center;
}
.card {
  width: 230px;
  height: 284px;
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 30px;
}
.mimg {
  margin: auto;
  width: 125px;
  height: 120px;
  margin-bottom: 7px;
}
.mtit {
  /* border: 2px solid black; */
  height: 24px;
  margin: 7px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.2px;
  color: #ee4248;
}
.mtit2 {
  margin: 0px;
  /* border: 2px solid black; */
  /* height: 24px; */
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.1px;
  color: #252b42;
}
.simg {
  height: 35px;
  cursor: pointer;
  margin: 12px;
}
@media (max-width: 1400px) {
  .mcon {
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto;
    justify-content: center;
  }
  .card {
    margin: 20px 30px;
  }
}
@media (max-width: 725px) {
  .mcon {
    /* border: 2px solid black; */
    max-width: 100%;
    margin: 20px auto;
  }
  .card {
    margin: 20px 20px;
  }
  .mtitle {
    font-size: 28px;
  }
  .curve {
    width: 70px;
    height: 8px;
  }
}
