.next {
  box-sizing: border-box;
  height: 500px;
  background: #f7f7f7;
  width: 100%;
  margin: auto;
  /* overflow: hidden; */
}
.titl {
  width: 454px;
  height: 82px;
  font-weight: 500;
  font-size: 32px;
  line-height: 133.69%;
  color: #1f2e35;
}
.contitle {
  width: 510px;
  height: 270px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #30444e;
}
.nright{
    margin:auto;
    margin-bottom: -4px;
}
.nleft{
    margin:  auto;
}
.conn{
    width: 80%;
    display: flex;
    margin: auto;
}
@media(max-width:1300px){
  .conn{
    width: 100%;
    display: flex;
  }
}
@media(max-width:1065px){
  .conn{
    display: flex;
    flex-wrap: wrap;
  }
  .nleft{
    padding: 0 10px;
  }
  .next{
    height: 100%;
    /* overflow: hidden; */
  }
}
@media(max-width:550px){
  .pana1{
    max-width: 300px;
    /* border: 2px solid black; */
  }
  .contitle{
    width: 100vw;
    height: 100%;
    font-size: 17px;
    /* border: 2px solid black; */
    margin: 0;
  }
  .cont1,.cont2{
    padding: 0 10px;
  }
  .titl{
    width: 100%;
    height: 100%;
    font-size: 28px;
    padding: 0 10px;
    /* border: 2px solid black; */
  }
}