.next {
  box-sizing: border-box;
  height: 500px;
  background: #f7f7f7;
}
.titl {
  width: 454px;
  height: 82px;
  font-weight: 500;
  font-size: 32px;
  line-height: 133.69%;
  color: #1f2e35;
}
.contitle {
  width: 510px;
  height: 270px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #30444e;
}
.nright{
    margin:auto;
    margin-bottom: -4px;
}
.nleft{
    margin:  auto;
}
.conn{
    width: 78%;
    display: flex;
    justify-content: center;
    margin: auto;
}
